<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改成功</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">恭喜，信息修改成功</h3>
    </div>
    <div class="panel-body">
        <a href="/">返回首页</a>
    </div>
</div>
</div>
</body>
</html>