<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册失败</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">抱歉，注册失败</h3>
    </div>
    <div class="panel-body">
        <a href="/">返回首页</a> <a href="/register">重新注册</a>
    </div>
</div>
</div>
</body>
</html>