<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="../static/jquery-3.3.1.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <style>
        h1 {
            size: 20px;
        }

        .content {
            width: 40%;
            margin: 50px auto;
        }
    </style>
    <script>
        function check_name(){
            var username = $.trim($("#username").val());
            if (username == ''){
                $('#tishi1').html('用户名不能为空');
                $('#tishi1').css("color","red");
                return false;
            }
            else{
                $('#tishi1').html('');
                return true;
            }
        }
        function check_pw(){
            var password = $.trim($("#password").val());
            if (password == ''){
                $('#tishi2').html('密码不能为空');
                $('#tishi2').css("color","red");
                return false;
            }
            else{
                $('#tishi2').html('');
                return true;
            }
        }

    </script>
</head>
<body>
<div class="content">
    <h1 class="text-center">用户登录</h1>
    <form action="/login.do" method="post">
        <div class="form-group">
            <label for="username">用户名</label>
            <input name="username" type="text" class="form-control" id="username" onkeyup="check_name()"><span id="tishi1"></span>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input name="password" type="password" class="form-control" id="password" onkeyup="check_pw()"><span id="tishi2"></span>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="status" value="simple" checked>
                普通用户
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="status" value="reporter">
                新闻记者
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="status" value="admin">
                管理员
            </label>
        </div>
        <button type="submit" class="btn btn-default btn-block">登录</button>
    </form>
</div>
</body>
</html>